ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: Montserrat;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.about-us-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 53px;
  color: rgb(50, 50, 50);
  margin-bottom: 60px;
  max-width: 424px;
}

.about-us-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(153, 153, 153);
  margin-bottom: 42px;
  max-width: 489px;
}

.about-us-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: rgb(73, 133, 255);
  border-bottom: 1px solid rgb(73, 133, 255);
}

.about-us-list-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  color: rgb(50, 50, 50);
  max-width: 104px;
}

.about-us {
  padding-top: 100px;
  padding-bottom: 70px;
}

.about-us-img {
  margin-bottom: 160px;
}

.about-us-list {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.about-us-img-div {
  display: flex;
  justify-content: space-between;
}

.about-us-wrap {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.about-us-list-text {
  font-family: Montserrat;
  font-size: 36px;
  line-height: 52.66px;
}

.about-us-list-text-sek {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 25.36px;
  text-align: left;
}

.projects-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: center;
  color: rgb(50, 50, 50);
  margin-bottom: 50px;
}

.projects-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  color: rgb(153, 153, 153);
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.projects-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  border-radius: 30px;
  background-color: rgb(73, 133, 255);
  width: 200px;
  height: 45px;
  display: block;
  margin: 0 auto;
}

.projects {
  padding-top: 100px;
  padding-bottom: 130px;
}

.projects-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.all-services-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  color: rgb(255, 255, 255);
  max-width: 540px;
}

.all-services-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  background-color: rgb(73, 133, 255);
  width: 200px;
  height: 45px;
  display: block;
}

.all-services-list-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: rgb(50, 50, 50);
  margin-bottom: 30px;
}

.all-services-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  color: rgb(153, 153, 153);
  margin-bottom: 47px;
}

.all-services-list-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: rgb(73, 133, 255);
}

.all-services {
  padding-top: 100px;
  padding-bottom: 85px;
  background-image: linear-gradient(to bottom, rgb(80, 77, 194) 51%, rgb(255, 255, 255) 49%);
}

.all-services-list {
  display: flex;
  gap: 30px;
}

.all-services-title-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;
}

.footer-list-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: rgb(50, 50, 50);
  margin-bottom: 35px;
}

.footer-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.19px;
  color: rgb(153, 153, 153);
  margin-bottom: 30px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.footer-text {
  margin-bottom: 35px;
}

.footer-list-link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #999999;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.19px;
}

.footer-rights {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.6px;
  text-align: center;
  color: #999;
}

.header-list-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(255, 255, 255);
  position: relative;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgb(161, 161, 161);
}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-nav {
  margin-left: auto;
}

.header-container {
  display: flex;
}

.curent::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 60px;
}

.hero-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.hero-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 64.36px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 829px;
  text-align: center;
}

.hero-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  background-color: rgb(73, 133, 255);
  width: 200px;
  height: 45px;
}

.hero {
  padding-top: 219px;
  padding-bottom: 335px;
  background-image: url("../img/Rectangle.jpg");
}

.services-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 53px;
  text-align: center;
  color: rgb(50, 50, 50);
  margin: 0 auto;
  max-width: 739px;
  margin-bottom: 32px;
}

.services-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: rgb(153, 153, 153);
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.services-list-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: rgb(50, 50, 50);
}

.services-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(153, 153, 153);
  max-width: 222px;
}

.services-list-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  background-color: rgb(73, 133, 255);
  width: 200px;
  height: 45px;
  display: block;
  margin: 0 auto;
  margin-top: 55px;
}

.services {
  padding-top: 110px;
  padding-bottom: 105px;
}

.services-list {
  display: flex;
  gap: 27px;
}

.services-accent-border {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid rgb(73, 133, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-black-border {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-list-item {
  display: flex;
  max-width: 353px;
  gap: 17px;
  align-items: baseline;
}

.subcribe-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: center;
  color: rgb(50, 50, 50);
  margin-bottom: 20px;
}

.subcribe-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  color: rgb(153, 153, 153);
}

.subcribe-input::-moz-placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 20.6px;
  color: rgb(153, 153, 153);
}

.subcribe-input::placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 20.6px;
  color: rgb(153, 153, 153);
}

.subcribe-text-sec {
  font-size: 13px;
  font-weight: 400;
  line-height: 20.6px;
  text-align: center;
  color: rgb(153, 153, 153);
}

.subcribe {
  padding-top: 85px;
  padding-bottom: 85px;
}

.subcribe-form {
  display: flex;
  justify-content: center;
  border: 1px solid #f2f2f2;
  margin: 0 auto;
  border-radius: 30px;
  max-width: 489px;
  height: 45px;
  margin-bottom: 30px;
  margin-top: 35px;
}

.subcribe-input {
  border: none;
  border-radius: 30px;
  padding-left: 33px;
  margin-right: auto;
}

.subcribe-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  color: #fff;
  width: 190px;
  padding: 13px 36px 15px 20px;
  border-radius: 0 30px 30px 0;
  background-color: #4985ff;
  display: block;
  margin-left: auto;
}

.video-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.video-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  color: rgb(153, 153, 153);
}

.video {
  padding-top: 70px;
  padding-bottom: 85px;
  background-image: url("../img/video-bg.png");
  background-repeat: no-repeat;
}

.video-wrap {
  width: 970px;
  height: 430px;
  background-image: url("../img/Rectangle 2 (3).png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-btn {
  text-align: left;
  padding: 20px 29px 20px 40px;
  color: #fff;
  width: 300px;
  height: 100px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */