.projects-title{
font-size: 36px;
font-weight: 700;
line-height: 52.66px;
text-align: center;
color: $main-black;
margin-bottom: 50px;
}
.projects-text{
font-size: 16px;
font-weight: 400;
line-height: 25.36px;
text-align: center;
color: $main-grey;
max-width: 750px;
margin:0 auto;
margin-bottom: 70px;
}
.projects-btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    color: $main-white;
    margin-top:50px;
    border-radius: 30px;
background-color:$accent ;
width: 200px;
height: 45px;
display: block;
margin: 0 auto;
}
.projects{
    padding-top: 100px;
    padding-bottom: 130px;
}
.projects-list{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}