.subcribe-title{
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: center;
color: $main-black;
}
.subcribe-text{
font-size: 16px;
font-weight: 400;
line-height: 25.36px;
text-align: center;
color: $main-grey;
}
.subcribe-input::placeholder{
font-size: 13px;
font-weight: 400;
line-height: 20.6px;
color: $main-grey;
}
.subcribe-text-sec{
    font-size: 13px;
    font-weight: 400;
    line-height: 20.6px;
    text-align: center;
    color: $main-grey;
}
.subcribe{
    padding-top: 85px;
    padding-bottom: 85px;
}