.video-title{
font-size: 36px;
font-weight: 700;
line-height: 52.66px;
text-align: center;
color: $main-white;
margin-bottom:30px ;
}
.video-text{
font-size: 16px;
font-weight: 400;
line-height: 25.36px;
text-align: center;
color: $main-grey;
}
.video{
    padding-top: 70px;
    padding-bottom: 85px;
}